version: '{build}'
os: Windows Server 2012
configuration: Debug
build: off
test: off
deploy: off


environment:
  global:
    MINGW: C:\Qt\Tools\mingw530_32
    QTDIR: C:\Qt\5.9.3\mingw53_32
    VCRT_DIR: 'C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\Redist\x86\Microsoft.VC120.CRT'

    BOOST_FILENAME_VERSION: 1_63_0
    BOOST_FILENAME_VERSION_SHORT: 1_63
    BOOST_VERSION: 1.63.0
    APPVEYOR_RDP_PASSWORD: 9f16DvSVGUfdtFvoURIe

    PYTHON_VERSION: 35
    VISUAL_STUDIO_VERSION: 14.0
    VISUAL_STUDIO_FILENAME_VERSION: 140

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - set PATH=%QTDIR%\bin;%MINGW%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
  - ps: |
      # from https://github.com/datastax/cpp-driver/blob/master/appveyor.yml
      # Determine the platform and create associate environment variables
      If ($env:Platform -Match "x86") {
        $env:ARCHITECTURE="32"
      } Else {
        $env:ARCHITECTURE="64"
        $env:CMAKE_GENERATOR_SUFFIX=" Win64"
      }
      $env:LIB_ARCHITECTURE="lib$($env:ARCHITECTURE)"
      $env:WINDOWS_ARCHITECTURE="win$($env:ARCHITECTURE)"
      # Generate the default Boost environment variables
      $env:BOOST_ROOT="C:/Libraries/boost_$($env:BOOST_FILENAME_VERSION)"
      $env:BOOST_INCLUDEDIR="$($env:BOOST_ROOT)"
      $env:BOOST_LIBRARYDIR="$($env:BOOST_ROOT)/$($env:LIB_ARCHITECTURE)-msvc-$($env:VISUAL_STUDIO_VERSION)"
      $env:BOOST_ARCHIVE="boost_$($env:BOOST_FILENAME_VERSION)-bin-msvc-$($env:VISUAL_STUDIO_VERSION)-$($env:ARCHITECTURE).7z"
      $env:BOOST_PYTHON_LIB_FILENAME="boost_python-vc$($env:VISUAL_STUDIO_FILENAME_VERSION)-mt-$($env:BOOST_FILENAME_VERSION_SHORT)"
      # same for python
      $env:PYTHON_ROOT="C:/Python$($env:PYTHON_VERSION)"
      $env:PYTHON_INCLUDEDIR="$($env:PYTHON_ROOT)/include"
      $env:PYTHON_LIBRARYDIR="$($env:PYTHON_ROOT)/libs"
      dir env:



install:
  - git submodule update --init --recursive

build_script:
  - mkdir build
  - cd build
  - qmake -r ..\librepcb.pro QMAKE_CFLAGS="-Werror" QMAKE_CXXFLAGS="-Werror -Wno-error=deprecated-declarations -Wno-error=attributes -DENABLE_HYPOT_WORKAROUND"
  - mingw32-make -j 4
  - .\generated\windows\qztest.exe # run quazip unit tests
  - .\generated\windows\tests.exe  # run librepcb unit tests

after_build:
  - xcopy .\generated\share .\output\share /i /e          # resources
  - xcopy .\generated\windows\librepcb.exe .\output\bin\  # executable
  - xcopy "%VCRT_DIR%\*.dll" .\output\bin\                # MS Visual C++ DLLs
  - xcopy C:\MinGW\bin\zlib1.dll .\output\bin\            # zlib DLL
  - xcopy C:\OpenSSL-Win32\bin\*eay*.dll .\output\bin\    # OpenSSL DLLs
  - xcopy %QTDIR%\bin\icu*.dll .\output\bin\              # ICU DLLs
  - xcopy %QTDIR%\bin\lib*.dll .\output\bin\              # MinGW DLLs
  - windeployqt --compiler-runtime --force .\output\bin\librepcb.exe # Qt DLLs

artifacts:
  - path: build\output
    name: librepcb-nightly
    type: zip
